<div class="author">
    <h1 class="author__heading">Hi, I am Mente</h1>
    <p class="author__body">Web Developer and Content Creator</p>
</div>

<img src="/img/person.avif" alt="perosn loking out throw the window" class="hero-image" width="651" height="428" >

<section class="articles">
  <h2 class="articles heading">Latest Posts</h2>

  <ul class="article-ul">
    <li>
        <a href="#">
           <span>Post Title</span>
           <span class="article-list__date">Date</span>
        </a>
    </li>
  </ul>

  <a href="#" class="paination"> &lt; View Older posts</a>
</section>